 <!-- Page-Title -->
                                 <!-- Page-Title -->
                                <div class="row">
                                   <div class="col-sm-12">   
                                  </div>
                              </div>

                              <div class="row">
              <div class="col-lg-4">
                <div class="card-box">
                  <div class="bar-widget">
                    <div class="table-box">
                      <div class="table-detail">
                        <div class="iconbox bg-info">
                          <i class=" md-account-child"></i>
                        </div>
                      </div>

                      <div class="table-detail">
                         <h4 class="m-t-0 m-b-5"><b>Customers</b></h4>
                         <h5 class="text-muted m-b-0 m-t-0"><%= @number_of_customers %></h5>
                      </div>
                                            <div class="table-detail text-right">
                                                <span style="display: none;" data-plugin="peity-bar" data-colors="#34d3eb,#ebeff2" data-width="120" data-height="45">5,3,9,6,5,9,7,3,5,2,9,7,2,1</span><svg width="120" height="45" class="peity"><rect height="25" width="6.857142857142858" y="20" x="0.8571428571428571" fill="#34d3eb"></rect><rect height="15" width="6.857142857142856" y="30" x="9.428571428571429" fill="#ebeff2"></rect><rect height="45" width="6.857142857142858" y="0" x="18" fill="#34d3eb"></rect><rect height="30" width="6.857142857142858" y="15" x="26.571428571428573" fill="#ebeff2"></rect><rect height="25" width="6.857142857142861" y="20" x="35.14285714285714" fill="#34d3eb"></rect><rect height="45" width="6.857142857142854" y="0" x="43.714285714285715" fill="#ebeff2"></rect><rect height="35" width="6.857142857142861" y="10" x="52.285714285714285" fill="#34d3eb"></rect><rect height="15" width="6.857142857142854" y="30" x="60.857142857142854" fill="#ebeff2"></rect><rect height="25" width="6.857142857142861" y="20" x="69.42857142857143" fill="#34d3eb"></rect><rect height="10" width="6.857142857142861" y="35" x="78" fill="#ebeff2"></rect><rect height="45" width="6.857142857142861" y="0" x="86.57142857142857" fill="#34d3eb"></rect><rect height="35" width="6.857142857142861" y="10" x="95.14285714285714" fill="#ebeff2"></rect><rect height="10" width="6.857142857142861" y="35" x="103.71428571428571" fill="#34d3eb"></rect><rect height="5" width="6.857142857142847" y="40" x="112.28571428571429" fill="#ebeff2"></rect></svg>
                                            </div>

                    </div>
                  </div>
                </div>
              </div>

                            <div class="col-lg-4">
                <div class="card-box">
                  <div class="bar-widget">
                    <div class="table-box">
                      <div class="table-detail">
                        <div class="iconbox bg-custom">
                          <i class=" md-account-balance-wallet"></i>
                        </div>
                      </div>

                      <div class="table-detail">
                         <h4 class="m-t-0 m-b-5"><b>Accounts</b></h4>
                         <h5 class="text-muted m-b-0 m-t-0"><%= @number_of_accounts %></h5>
                      </div>
                                            <div class="table-detail text-right">
                                                <span style="display: none;" data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span><svg width="50" height="45" class="peity"><path fill="#5fbeaa" d="M 25 0 A 22.5 22.5 0 0 1 46.39877161664096 15.547117626563683 L 25 22.5"></path><path fill="#ebeff2" d="M 46.39877161664096 15.547117626563683 A 22.5 22.5 0 1 1 24.999999999999996 0 L 25 22.5"></path></svg>
                                            </div>

                    </div>
                  </div>
                </div>
              </div>

                            <div class="col-lg-4">
                <div class="card-box">
                  <div class="bar-widget">
                    <div class="table-box">
                      <div class="table-detail">
                        <div class="iconbox bg-danger">
                          <i class=" md-credit-card"></i>
                        </div>
                      </div>

                      <div class="table-detail">
                         <h4 class="m-t-0 m-b-5"><b>Transactions</b></h4>
                         <h5 class="text-muted m-b-0 m-t-0"><%= @number_of_transactions %></h5>
                      </div>
                                            <div class="table-detail text-right">
                                                <span style="display: none;" data-plugin="peity-donut" data-colors="#f05050,#ebeff2" data-width="50" data-height="45">1/5</span><svg width="50" height="45" class="peity"><path fill="#f05050" d="M 25 0 A 22.5 22.5 0 0 1 46.39877161664096 15.547117626563683 L 35.69938580832048 19.02355881328184 A 11.25 11.25 0 0 0 25 11.25"></path><path fill="#ebeff2" d="M 46.39877161664096 15.547117626563683 A 22.5 22.5 0 1 1 24.999999999999996 0 L 24.999999999999996 11.25 A 11.25 11.25 0 1 0 35.69938580832048 19.02355881328184"></path></svg>
                                            </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
                             