<style type="text/css">
    .splash{
    width: 101%;
    margin-top: -20%;
    }
   .thisone{
    background: rgba(95, 190, 170, 0.7)!important;
    margin-top: 42px;
    padding: 19px;
    width: 570px;
    height: 206px;
    font-size: 28px;
    font-weight: 900;
    }
    .md-album{
    color:#5fbeaa;
    }
    .text-custom{
    color:#ffffff;
    font-size: 61px;
    }
    .for_hide{
    display: none;
    }

    .bg-img {
    background: transparent url("assets/img1.jpg") repeat scroll 0% 0% / cover;
    position: relative;
    }

    .bg-overlay {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
    }

    .home-wrapper {
        color: #FFF;
        padding: 100px 0px;
    }

    .bg-dark {
    background: transparent linear-gradient(#444F5C, #334159) repeat scroll 0% 0%;
    }

    .bg-gray {
        background-color: #EEF2F5;
        border-bottom: 1px solid #E9E9E9;
        border-top: 1px solid #E9E9E9;
    }

    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .fadeInLeft {
    animation-name: fadeInLeft;
    }

    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

</style>


<div class="topbar">
  <%= render 'layouts/header_public' %>
</div>


<section class="home bg-img" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">

        <div class="home-wrapper">     
          <div class="text-error">
            <h1 class="text-center">
            <strong class="text-custom">CONTROL SUITE  &#8482;</strong> </h1>
          </div>
            <a class="thisone btn btn-default waves-effect waves-light">
              is a robust and secure system, <br/>
              that gives Government's access and <br/>
              control of all the financial <br/>
              records in the country.
            </a>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- ABOUT -->
<div class="container home-about">
  <div class="row">
    <div class="col-md-5" style="margin-left:20px">
      <h1 class="uppercase thecolor" style="margin:40px">What is CONTROL SUITE ™</h1>
      <p>CONTROL SUITE ™ is a robust and secure system,
        that gives Government's access and control of all the financial
        records in the country.
      </p>
      
      <p>Its is plugged in realtime to all the banks in
        the country and retrieves records of all transactions as they happen.
        
      </p>
    </div>
    <div class="col-md-5" style="margin:40px">
      <img src='assets/CT.png?raw=true' class="img-responsive img-center" alt="">
    </div>
  </div>
</div>



<!-- FEATURES -->

<section class="section" id="services">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="text-uppercase font-bold">Features</h3>
                    <div class="title-hr"></div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p class="sub-title"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">

                <div style="visibility: visible; animation-name: fadeInLeft;" class="col-sm-4 wow fadeInLeft animated animated">
                    <div class="services-box">
                        <div class="icon-box">
                            <img src="https://github.com/henrino3/control/blob/master/app/assets/images/i1.png?raw=true" alt="">
                        </div>


                        <div>
                            <h4 class="font-bold">Secure</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>

                <div style="visibility: visible; animation-name: fadeInUp;" class="col-sm-4 wow fadeInUp animated animated">
                    <div class="services-box">
                        <div class="icon-box">
                            <img src="https://github.com/henrino3/control/blob/master/app/assets/images/i2.png?raw=true" alt="">
                        </div>


                        <div>
                            <h4 class="font-bold">Access Levels</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>

                <div style="visibility: visible; animation-name: fadeInRight;" class="col-sm-4 wow fadeInRight animated animated">
                    <div class="services-box">
                        <div class="icon-box">
                            <img src="https://github.com/henrino3/control/blob/master/app/assets/images/i3.png?raw=true" alt="">
                        </div>


                        <div>
                            <h4 class="font-bold">Intutive</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>


<!-- TEAM -->
<section class="section bg-gray" id="team">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 style="visibility: visible; animation-name: zoomIn;" class="text-uppercase font-bold zoomIn animated wow animated">#TeamControl</h3>
                    <div class="title-hr"></div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;" class="sub-title zoomIn animated wow animated" data-wow-delay=".2s"></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row team text-center">
                        <!-- team-member -->
                        <div class="col-sm-4">
                            <div style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;" class="team-member animated fadeInDown wow animated" data-wow-delay=".1s">
                                <img src="assets/eddy.jpg" alt="team-member" class="img-responsive">
                                <h3>Eddy</h3>
                                <ul class="list-inline social-list">
                                    <li><a href="https://github.com/eddymens"><img src="assets/github.jpg" width="30px"></i></a>
                                    </li>
                               </ul>
                            </div>
                        </div>

                        <!-- team-member -->
                        <div class="col-sm-4">
                            <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;" class="team-member animated fadeInDown wow animated" data-wow-delay=".3s">
                                <img src="assets/chiamaka.jpg" alt="team-member" class="img-responsive">
                                <h3>Chiamaka</h3>
                                <ul class="list-inline social-list">
                                    <li><a href="https://github.com/chiamaka"><img src="assets/github.jpg" width="30px"></i></a>
                                    </li>
                               </ul>
                            </div>
                        </div>

                        <!-- team-member -->
                        <div class="col-sm-4">
                            <div style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;" class="team-member animated fadeInDown wow animated" data-wow-delay=".5s">
                                <img src="assets/henry.jpg" alt="team-member" class="img-responsive">
                                <h3>Henry</h3>
                                <ul class="list-inline social-list">
                                    <li><a href="https://github.com/henrino3"><img src="assets/github.jpg" width="30px"></i></a>
                                    </li>
                               </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </div>
    </section>


  <!-- FOOTER -->




  <section class="section bg-dark footer-cta">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;" class="zoomIn animated wow animated" data-wow-delay=".1s">
                          <div class="row">
                            <div class="col-md-6">
                              <p>2014 © CONTROL SUITE ™. All rights reserved.</p>
                            </div>
                            <div class="col-md-6">
                              <p class="pull-right">Made by <a href="https://github.com/eddymens/control2" style="color:#ffffff">#teamControl</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






<script type="text/javascript">
$(function () {
$('.for_hide').slideDown(2000);
});
</script>