<style type="text/css">
    .splash{
    width: 101%;
    margin-top: -20%;
    }
    .ex-page-content{
    position: absolute;
    padding-top: 26%;
    margin-top: -157%;
    background-color: rgba(119, 136, 153, 0.83);
    width: 323%;
    margin-left: -111%;
    padding-bottom: 41%;
    }
    .thisone{
    background: rgba(95, 190, 170, 0.7)!important;
    margin-top: 42px;
    padding: 19px;
    width: 570px;
    height: 206px;
    font-size: 28px;
    font-weight: 900;
    }
    .md-album{
    color:#5fbeaa;
    }
    .text-custom{
    color:#ffffff;
    font-size: 61px;
    }
    .for_hide{
    display: none;
    }

</style>


<div class="topbar">
  <%= render 'layouts/header_public' %>
</div>

<div class="splash-div">
  <img class="splash" src="assets/img1.jpg">
  
</div>
<div class="account-pages"></div>
<div class="clearfix"></div>

<div class="wrapper-page">
  <div class="ex-page-content text-center">
    <div class="for_hide">
      
      <div class="text-error">
        <h1 class="text-center">
        <strong class="text-custom">CONTROL <i class="md md-album"></i> SUITE  &#8482;</strong> </h1>
      </div>
      
      <a class="thisone btn btn-default waves-effect waves-light" href="index.html">
        is a robust and secure system, <br/>
        that gives Government's access and <br/>
        control of all the financial <br/>
        records in the country.
      </a>
      
    </div>
  </div>
</div>



<!-- ABOUT -->
<div class="container home-about">
  <div class="row">
    <div class="col-md-5" style="margin-left:20px">
      <h1 class="uppercase thecolor" style="margin:40px">What is CONTROL SUITE ™</h1>
      <p>CONTROL SUITE ™ is a robust and secure system,
        that gives Government's access and control of all the financial
        records in the country.
      </p>
      
      <p>Its is plugged in realtime to all the banks in
        the country and retrieves records of all transactions as they happen.
        
      </p>
    </div>
    <div class="col-md-5" style="margin:40px">
      <img src='assets/CT.png?raw=true' class="img-responsive img-center" alt="">
    </div>
  </div>
</div>
<!-- FEATURES -->
<div class="container home-features" style="margin-top:40px">
  <div class="row">
    <div class="col-md-12" >
      <h1 class="uppercase center-marg thecolor" style="margin:40px">Features</h1>
      <div class="row cr">
        <div class="col-md-3" style="margin:40px">
          <img src="https://github.com/henrino3/control/blob/master/app/assets/images/i1.png?raw=true" class="text-center">
          <h4>Secure</h4>
          <p class="text-align"></p>
        </div>
        <div class="col-md-3" style="margin:40px">
          <img src="https://github.com/henrino3/control/blob/master/app/assets/images/i2.png?raw=true" class="text-center">
          <h4>Access Control</h4>
          <p></p>
        </div>
        <div class="col-md-3" style="margin:40px">
          <img src="https://github.com/henrino3/control/blob/master/app/assets/images/i3.png?raw=true" class="text-center">
          <h4>Transparent</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BLOG -->
<div class="container home-blog" style="
  text-align: center">
  <h2 class="uppercase thecolor" style="margin-bottom:10%">How to get Started</h2>
  <div class="row" style="text-align: center;">
    <div class="col-md-6 blog-content">
      <h3 class="uppercaser">FOR GOVERNMENTS</h3>
      <p>Call +23349750585 and book a demo</p>
    </div>
    <div class="col-md-6 blog-content">
      <h3 class="uppercase">FOR BANKS</h3>
      <p>It takes just a minute to request for you API token <br/>
        Start <a href="banks/new">HERE</a> </p>
      </div>
      
    </div>
  </div>
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <h4>CONTROL SUITE ™</h4>
            <p>
              20 Aluguntuguntu Street, <br>
              Ambassadorial Enclave, <br>
              East Legon, Accra.
            </p>
            
          </div>
          
          <div class="col-md-6">
            <h4>Follow Us</h4>
            <ul class="social">
              <li><a href="file:///var/www/html/black/main.html#">Facebook</a></li>
              <li><a href="file:///var/www/html/black/main.html#">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER-COPYRIGHT -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>2014 © CONTROL SUITE ™. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <p class="pull-right">Made by <a href="file:///var/www/html/black/main.html#">#teamControl</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(function () {
$('.for_hide').slideDown(2000);
});
</script>