/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


    .splash{
    width: 101%;
    margin-top: -20%;
    }
   .thisone{
    background: rgba(95, 190, 170, 0.7)!important;
    margin-top: 42px;
    padding: 19px;
    width: 570px;
    height: 206px;
    font-size: 28px;
    font-weight: 900;
    }
    .md-album{
    color:#5fbeaa;
    }
    .text-custom{
    color:#ffffff;
    font-size: 61px;
    }
    .for_hide{
    display: none;
    }

    .bg-img {
    background: transparent url("assets/img1.jpg") repeat scroll 0% 0% / cover;
    position: relative;
    }

    .bg-overlay {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
    }

    .home-wrapper {
        color: #FFF;
        padding: 100px 0px;
    }

    .bg-dark {
    background: transparent linear-gradient(#444F5C, #334159) repeat scroll 0% 0%;
    }

    .bg-gray {
        background-color: #EEF2F5;
        border-bottom: 1px solid #E9E9E9;
        border-top: 1px solid #E9E9E9;
    }

    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .fadeInLeft {
    animation-name: fadeInLeft;
    }

    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
